//=== colors ====
$text-color: #333;
$text-link-color: #4078c0;

//=== element-ui-color ===
$color-primary: #4886ff;
$color-success: #13ce66;
$color-warning: #f7ba2a;
$color-danger: #ff4949;
$color-info: #50bfff;

//=== fonts ====
$font-size-base: 14px;
$font-family-base: "Microsoft YaHei", "微软雅黑", "Microsoft JhengHei", MingLiu, Arial, sans-serif;

//== other ===
$line-height-base: 1.6;
$min-width: 1080px;